.divFooter {
    text-align: center;
    padding: 50px 0;
}

button.footerButton {
    padding: 10px 16px;
    font-size: 16px;
    background-color: $deepjunglegreen;
    color: $cosmiclatte;
    border-radius: 50px;
    border: 0px;
}

.footerText {
    padding: 5px 0;
    font-size: 16px;
}

.footerTop {
    background-color: $azurelatte;
}