// COLORS
$viridiangreen: #05A0A0;
$white: #FFFFFF;
$deepjunglegreen: #0F4E4E;
$oreoblack: #151515;
$azurelatte: #e2f1ef;
$cosmiclatte: #fffcf1;
$ultrapink: #ff6480;
$catwaba: #742942;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// GLOBAL

body {
    color: $oreoblack;
    font-family: 'Roboto';
};

.container {
    padding: 20px 0;
}

h1 {
    padding: 10px 12px;
    font-size: 40px;
}

.button > button {
    padding: 16px 20px;
    font-size: 24px;
    background-color: $viridiangreen;
    color: $white;
    border-radius: 50px;
    border: 0px;
}

a {
    text-decoration: none;
    color: $oreoblack;
}

a:hover {
    color: $viridiangreen;
}

form {
    padding: 10px;
    text-align: center;
    color: $deepjunglegreen;
}

label {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    @media(max-width: 480px) {
        font-size: 18px;
    }
}

label.inline {
    display: inline;
    font-size: 17px;
    @media(max-width: 480px) {
        font-size: 15px;
    }
}

input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 300px;
    @media(max-width: 480px) {
        width: 200px;
    }
}



