div.advert {
    padding: 5px;
    background-color: $viridiangreen;
    text-align: center;
    align-items: center;
}
a.advert {
    color: $white;
}

div.nav {
    align-items: center;
}

div.comp {
    padding: 15px;
}

div.headMini {
    background-color: $white;

}